@import url('https://fonts.googleapis.com/css?family=Roboto');

.container {
  display: flex;
}

.column {
  width: 33%;
  border-top: rgba(0, 0, 0, 0.1) solid 1px;
  padding: .5% 1%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
}
